svg path {
    fill: #ffffff;
}

html {
    overflow-x: hidden;
}

mark {
    padding: 0 !important;
}

.navbar-toggler {
    background: #FF9600 round;
}

@font-face {
    font-family: HelveticaNeueCyr;
    font-display: auto;
    src: url(../fonts/HelveticaNeueCyr-Light.eot);
    src: url(../fonts/HelveticaNeueCyr-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/HelveticaNeueCyr-Light.woff) format('woff'),
    url(../fonts/HelveticaNeueCyr-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCyr;
    font-display: auto;
    src: url(../fonts/HelveticaNeueCyr-Roman.eot);
    src: url(../fonts/HelveticaNeueCyr-Roman.eot?#iefix) format('embedded-opentype'),
    url(../fonts/HelveticaNeueCyr-Roman.woff) format('woff'),
    url(../fonts/HelveticaNeueCyr-Roman.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCyr;
    font-display: auto;
    src: url(../fonts/HelveticaNeueCyr-Medium.eot);
    src: url(../fonts/HelveticaNeueCyr-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/HelveticaNeueCyr-Medium.woff) format('woff'),
    url(../fonts/HelveticaNeueCyr-Medium.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCyr;
    font-display: auto;
    src: url(../fonts/HelveticaNeueCyr-Bold.eot);
    src: url(../fonts/HelveticaNeueCyr-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/HelveticaNeueCyr-Bold.woff) format('woff'),
    url(../fonts/HelveticaNeueCyr-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: HelveticaNeueCyr, serif;
    font-size: inherit;
    font-weight: 300;
    text-decoration: none;
}


body {
    background: url(../img/bg-tpl.png),
        /*radial-gradient(circle at 50% 50%, transparent, rgba(0, 0, 0, 0.6)),*/ rgb(0, 34, 88);
}

.dotted-background {
    background: url(../img/bg-tpl.png),
        /*radial-gradient(circle at 50% 50%, transparent, rgba(0, 0, 0, 0.6)),*/ rgb(0, 34, 88);
}

html, body {
    height: 100% !important;
    margin: 0;
    color: white;
}

#root {
    height: 100% !important;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}


.navbar-brand {
    max-height: 100%;
}

.navbar-brand > img {
    width: 170px;
}

.navbar-nav {
    margin-top: 2px;
    padding-left: 5px;
}

.navbar-toggler {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: yellow;
}


.nav-link {
    color: #ffffff;
    font-weight: 100;
    font-size: 15px;
}


.nav-link:hover {
    color: #ffffff;
    border-bottom: 1px #FF9600 solid;
}

.navbar-phone-container {
    padding-right: 10px;
    line-height: 1.15;
}

@media screen and (max-width: 991px) {
    .navbar-phone-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse {
        position: fixed;
        top: 65px;
        background: url(../img/bg-tpl.png),
        rgb(0, 34, 88);
        z-index: 10;
    }

    .navbar-expand-lg > .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 575px) {
    .navbar-expand-lg > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

.navbar-phone {
    /*color: #FF9600;*/
}

.navbar-phone-description {
    font-size: 11.7px;
}

.login-btn {
    padding: 3px 25px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    color: white;
    font-size: 19px;
}

.phone-btn {
    /*background-color: #FF9600;*/
    /*border-color: transparent;*/
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.login-btn:hover {
    background-color: #FF9600;
    border-color: transparent;
    color: white;
}

.login-btn:active {
    background-color: #FF9600;
    border-color: transparent;
    color: white;
    box-shadow: inset 0 3px 0 0 rgb(144, 54, 0);
}


.footer {
    width: 100%;
    font-size: 13px;
}

.footer > .container {
    border-top: 1px solid white;
}

.text {
    word-wrap: break-word;
    text-align: justify;
}

.dashed {
    text-align: initial;
    padding-left: 20px;
    list-style-type: none;
}

.dashed > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em;
}

.search-input {
    width: 100%;
    height: 55px;
    line-height: 3px;
    border-radius: 5px;
    padding-top: 15px;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 24px;
    background-position: 3%;
    font-size: 15px;
    font-weight: 100;
    border: none;
    color: black !important;
}

input:disabled {
    color: rgb(170, 170, 170);
    cursor: default;
}

select:disabled {
    color: rgb(170, 170, 170);
    cursor: default;
}

.calc-btn {
    background-color: #FF9600;
    color: white;
    border: none;
    height: 55px;
    box-shadow: inset 0 -3px 0 0 rgb(144, 54, 0);
}

.calc-btn:hover {
    background-color: #FF9600;
    border-color: transparent;
    color: white;
    box-shadow: none;
}

.calc-btn:active {
    background-color: #FF9600;
    border-color: transparent;
    color: white;
    box-shadow: inset 0 3px 0 0 rgb(144, 54, 0);
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
    color: gray;
    font-size: 15px;
}

.orange {
    color: #FF9600;
    text-decoration-color: #FF9600;
    background-color: initial !important;
}

.red {
    color: red;
    text-decoration-color: red;
}

.white {
    color: white;
    text-decoration-color: white;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    top: 5px;
    bottom: 10px;
    left: 20px;
    font-size: 10px;
    opacity: 1;

}


.progress-bar {
    background-color: #FF9600;
}

.justify:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.opened {
    display: block;
}

.closed {
    display: none;
}

.tab-toogle {
    color: #FF9600 !important;
}

svg {
    display: block;
    margin: auto;
}

svg > path {
    fill: #FF9600;
}


.from-variants, .to-variants {
    background: white;
    padding-top: 5px;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    z-index: 5;
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 15px;
    text-align: left;
    width: calc(100% - 10px)
}

.from-variants > div, .to-variants > div {
    display: table;
    color: #3d3938;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.from-variants > div:hover, .to-variants > div:hover {
    background: #ebebeb;
}

.from-variants > div > p, .to-variants > div > p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}

.from-variants > div > p:last-child,
.to-variants > div > p:last-child {
    text-align: right;
}

.from-variants > div:last-child,
.to-variants > div:last-child {
    border-radius: 0 0 5px 5px;
}

.from-variants span, .from-variants p:last-child,
.to-variants span, .to-variants p:last-child {
    color: #888888;
}

.form-input {
    width: 100%;
    padding: 0 12px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 100;
}

.form-input-label, .form-input {
    height: 45px;
    line-height: 45px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

.input-angle > path {
    fill: gray !important;
}

.orange > path {
    fill: #FF9600 !important;
}

svg {
    pointer-events: none;
}


.radio-button-group {
    background-color: white;
    border-radius: 5px;
    overflow: auto;
    float: left;
    width: 100%;
    height: 100%;
    color: black;
}

.radio-button-group label:hover {
    background-color: #FF9600;
}

.radio-button-group label {
    float: left;
    width: 50%;
    height: 100%;
    margin-bottom: 0;
    cursor: pointer;
}

.radio-button-group label input {
    display: none;
}

.radio-button-group label span {
    text-align: center;
    display: block;
    height: 100%;
    line-height: 45px;
}

.radio-button-group label input {
    position: absolute;
    top: -20px;
}

.radio-button-group input:checked + span {
    background-color: #FF9600;
    color: #fff;
}

.form-inline-action {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #FF9600;
    text-decoration: underline;
}

.form-inline-action:hover {
    color: #FF9600;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.wrapper {
    min-height: calc(100vh - 40px);
}

.lh-initial {
    line-height: 23px;
}


@media screen and (max-width: 991px) {
    .lh-initial {
        line-height: 45px;
    }
}

div.ReactModalPortal > div > div > svg > path {
    fill: white;
}

.close-btn:hover {
    cursor: pointer;
}

.table-head {
    border-top: 2px solid #FF9600;
    border-bottom: 2px solid #FF9600;
}

.table-head tr th {
    border: none;
    font-size: 13.5px;
    font-weight: 700;
    padding: 5px;
    vertical-align: middle;
}

.table-head2 tr th {
    padding: 15px;
}

.table td {
    border: none;
}

tbody {
    margin-top: 10px;
}

tbody tr:nth-child(2n+1) {
    background-color: #042462;
}

tbody::before {
    content: '';
    display: block;
    height: 15px;

}

tbody tr td:nth-child(5) {
    border-right: 1px solid #FF9600;
}

.br-o {
    border-right: 1px solid #FF9600 !important;
}

.br-b {
    border-right: 1px solid #4e79cc !important;
}

.fixed-top {
    max-height: 100vh;
    overflow: auto;
    top: -5px;
}

.text-center {
    text-align: center;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
    z-index: 1090;

}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -25px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.rect1,
.rect1:before,
.rect1:after {
    background: #FF9600;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.rect1 {
    color: #FF9600;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.rect1:before,
.rect1:after {
    position: absolute;
    top: 0;
    content: '';
}

.rect1:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.rect1:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.control-checkbox > input {
    display: none;
}

.control-checkbox {
    padding-left: 30px;
    padding-top: 4px;
}

.control_indicator {
    position: absolute;
    top: 4px;
    left: 15px;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: inset 0px 2px 0 0 #ff9600;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
    box-shadow: none;
}

.control input:focus ~ .control_indicator:after {
    left: 8px;
    top: 4px;
}

.control input:checked ~ .control_indicator {
    background: #ff9600;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ff9600;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

.navbar {
    height: 70px;
    max-height: 70px;
}

.pseudo {
    height: 70px;
}

.progress-bar-wrapper {
    position: fixed;
    top: 65px;
    padding: 0 30px 0 0;
    z-index: 1000;
}

.progress-bar-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 200vw;
    background: url(../img/bg-tpl.png),
        /*radial-gradient(circle at 50% 50%, transparent, rgba(0, 0, 0, 1)),*/ rgb(0, 34, 88);
    transform: translateX(-50%);
}

.progress-bar-wrapper:after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    border-bottom: 1px solid #ffffff;
}

.background-header {
    background: url(../img/bg-tpl.png),
        /*radial-gradient(circle at 50% 50%, transparent, rgba(0, 0, 0, 0.6)),*/ rgb(0, 34, 88);
}

.new-order-content {
    padding-top: 160px;
    /*max-height: calc(100vh - 40px);*/
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
}

.col-3-param {
    padding-right: 8px;
}

.col-3-param:not(:first-child) {
    padding-left: 0px;
}

.col-3-param:last-child {
    padding-right: 15px;
}

.tip {
    font-size: 12px;
}

.tip > div > p {
    float: left;
    padding-left: 10px;
}

.dashboard-header-wrapper {
    border-bottom: 1px solid;
    margin-top: 70px;
    padding: 0;
}

.dashboard-header li {
    padding: 0 15px;
}

.dashboard-header li > a {
    font-size: 19px;
}

.dashboard-header li > a:hover {
    border-bottom: none !important;
}

.dashboard-header li:last-child {
    padding: 0;

}

.login-form {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-form-inner {
    padding-bottom:30px;
}

.mt-70 {
    margin-top: 70px;
}

.dashboard-item > a:hover {
    color: #FF9600;
    text-decoration-color: #FF9600;
}

td > a:hover {
    color: #FF9600;
    text-decoration-color: #FF9600;
}

.select {
    background: transparent;
}

.login-header {
    font-size: 17px;
    text-align: left;
}

.login-tip {
    padding-top: 5px;
    padding-bottom: 10px;
}

#sort_label > div > div > div > div {
    color: white;
}

.hover:hover {
    color: #FF9600;
    text-decoration-color: #FF9600;
}

.input-angle:hover {
    cursor: pointer;
}